*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	width: 100%;
	background-color: white;
	height: 60px;
	line-height: 60px;
	padding: 0px 120px;
}
nav img{
	width: 50px;
	height: 50px;
	float: left;
	margin: 0.6em 0;
}
nav ul{
	float: right;
}
nav ul li{
	float: left;
	list-style: none;
	position: relative;
	text-align: center;
	width: 200px;
}
nav ul li:hover{
}
nav ul li a{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	font-size: 17px;
	padding: 0px 16px;
	display: block;
	font-weight: bold;
	transition: all 0.4s ease;
	opacity: 0.7;
}
nav ul li a:hover{
	background-color: #F9F7F7;
	color: red;
	letter-spacing: 1px;
	opacity: 1;
}
nav ul li ul{
	position: absolute;
	display: none;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 1px 1px 4px #9D9D9D;
}
nav ul li:hover ul{
	display: block;
}
nav ul li ul li{
	line-height: 1;
	width: 200px;
	border-radius: 5px;
	padding: 0px;
}
nav ul li ul li a{
	padding: 10px 16px;
}
nav ul li ul li a:hover{
	background-color: red;
	color: white;
}

.contain{
	margin: 9em auto;
	width: 300px;
	height: 300px;
	background-color: ghostwhite;
	border-radius: 10px;
	transition: all 0.4s ease;
}
.contain:hover{
	background-color: #CACACA;
	border-radius: 20px;
}
.contain p{
	text-align: center;
	padding-top: 45%;
	transition: all 0.4s ease;
}
.contain:hover p{
	letter-spacing: 1.5px;
	font-size: 20px;
	color: red;
	font-weight: bold;
}